<br><br><h3><{$title_usage_stats}></h3>
<{$usage_stats}> 

<br><br><h3><{$title_project_stats}></h3> 
<{$project_stats}> 

<br><br><h3><{$title_most_active_projects}></h3>
<{$most_active_projects}>

<br><br><h3><{$title_top_downloads}></h3>
<{$top_downloads}>

<br><br><h3><{$title_new_projects}></h3> 
<{$new_projects}> 

<br><br><h3><{$title_user_stats}></h3> 
<{$user_stats}> 

<br><br><h3><{$title_new_users_in_last_given_tme_period}></h3> 
<{$new_users_in_last_given_tme_period}>

<br><br><h3><{$title_most_active_users}></h3>
<{$most_active_users}>