<table border="0" width="100%" cellspacing="0" cellpadding="0">
<tr>
	<td width="14"><img src="<{$xoops_imageurl}>images/h_arrow.gif" width="14" height="26" border="0" alt=""></td>
	<td width="100%" class="head3" valign="bottom"><span class="blockTitle"><{$title}></span></td>
</tr>
<tr>
	<td colspan="2" style="background-image:url(<{$xoops_imageurl}>images/dotlinebg_horiz.gif)"><img src="<{$xoops_imageurl}>images/spacer.gif" width="1" height="1" alt=""></td>
</tr>
<tr>
	<td width="14"><img src="<{$xoops_imageurl}>images/spacer.gif" width="14" height="7" alt=""></td>
	<td width="100%"><img src="<{$xoops_imageurl}>images/spacer.gif" width="1" height="7" alt=""></td>
</tr>
<tr>
	<td colspan="2" class="blockContent"><{$content}></td>
</tr>
</table>
