<{$account_header}>

	<table class="item">

	<tr><td class="itemTitle"><h4><{$info_str}></h4></td></tr>

	<form action="<{$smarty.server.PHP_SELF}>" method="POST">
	<input type="hidden" name="<{$proc_str}>" value="1">
	<input type="hidden" name="diary_id" value="<{$diary_id}>">
	<tr><td colspan="2" class="itemTitle"><strong><{$smarty.const._XF_MY_SUMMARY}></strong><BR/>
		<input type="text" name="summary" size="45" maxlength="60" value="<{$summary}>" class="itemBody">
	</td></tr>

	<tr><td colspan="2" class="itemTitle"><strong><{$smarty.const._XF_MY_DETAILS}></strong><BR/>
		<textarea name="details" rows="15" cols="60" WRAP="HARD" class="itemBody"><{$details}></textarea>
	</td></tr>
	<tr><td colspan="2">
		<P/>
		<input type="submit" name="submit" value="<{$smarty.const._XF_MY_SUBMITONCE}>">
		&nbsp; <input type="CHECKBOX" name="is_public" value="1" <{$is_public}> > <{$smarty.const._XF_G_ISPUBLIC}>
		<P/><{$smarty.const._XF_MY_IFPUBLIC}><P/>
		</form>
	</td></tr>

	</table>
	
	<{if $feedback}>
	<div class="resultMsg"><{$feedback}></div>
	<{/if}>
	<P/>

<table border="0" width="100%" cellspacing="0" cellpadding="0" class="outer">
<tr>
	<td width="14"><img src="<{$icms_imageurl}>images/h_arrow.gif" width="14" height="26" border="0" alt=""></td>
	<td width="100%" class="head3" valign="bottom" class="centerCcolumn">
  	<div class="head"><{$smarty.const._XF_MY_EXISTINGDIARY}></div>
	</td>
</tr>
<tr>
	<td colspan="2" style="background-image:url(<{$icms_imageurl}>images/dotlinebg_horiz.gif)"><img src="<{$icms_imageurl}>images/spacer.gif" width="1" height="1" alt=""></td>
</tr>
<tr>
	<td width="14"><img src="<{$icms_imageurl}>images/spacer.gif" width="14" height="7" alt=""></td>
	<td width="100%"><img src="<{$icms_imageurl}>images/spacer.gif" width="1" height="7" alt=""></td>
</tr>
<tr>
	<td colspan="2" class="centerCcolumn">
		<div class="blockContent">
			<table border=0 width=100%>
				<{if $no_diary == true}>
				  <tr><td colspan="2"><strong><{$smarty.const._XF_MY_YOUHAVENODIARY}></strong></td></tr>
				<{else}>
					<tr>
					  <td><strong><{$smarty.const._XF_MY_SUMMARY}></strong></td>
					  <td><strong><{$smarty.const._XF_MY_CREATIONDATE}></strong></td>
					</tr>
					<{section name=i loop=$diary_list}>
						<tr>
						  <td><a href="<{$smarty.server.PHP_SELF}>?diary_id=<{$diary_list[i].id}>"><{$diary_list[i].summary}></a></td>
						  <td><{$diary_list[i].date_posted}></td>
						</tr>
					<{/section}>
				<{/if}>
			</table>
		</div>
	</td>
</tr>
</table>

